@page
@model LoginModel
@using System.Globalization
@{
    ViewData["Title"] = "Вход";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post" onsubmit="showLoadingIndicator()">
            <h4>Используйте свою учетную запись</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @if (Model.IsLockedOut)
            {
                <div class="alert alert-danger">
                    Ваш аккаунт заблокирован. Попробуйте снова через <span id="lockout-timer"></span>.
                </div>
            }

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" disabled="@(Model.IsLockedOut)" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" disabled="@(Model.IsLockedOut)" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="Input.RememberMe" class="form-check-input" disabled="@(Model.IsLockedOut)" />
                    <label asp-for="Input.RememberMe" class="form-check-label"></label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" @(Model.IsLockedOut ? "disabled" : "")>Войти</button>
            </div>
            <div class="form-group">
                <a asp-page="./ForgotPassword">Забыли пароль?</a>
            </div>
            <div class="form-group">
                <a asp-page="./Register">Зарегестрироваться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @if (Model.IsLockedOut && Model.RemainingLockoutTime.TotalSeconds > 0)
    {
        <script src="~/js/lockoutTimer.js"></script>
        <script>
            var remainingTime = @Model.RemainingLockoutTime.TotalMilliseconds.ToString("F0", System.Globalization.CultureInfo.InvariantCulture);

            startLockoutTimer(remainingTime);
        </script>
    }
}