@model UniCabinet.Web.ViewModel.User.UserDetailViewModel

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <h5 class="modal-title">Детали пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <!-- Тело модального окна -->
            <div class="modal-body">
                <form asp-action="UpdateUserDetails">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="mb-3">
                        <label for="userEmail">Email</label>
                        <input type="email" class="form-control" id="userEmail" name="Email" value="@Model.Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="userFirstName">Имя</label>
                        <input type="text" class="form-control" id="userFirstName" name="FirstName" value="@Model.FirstName">
                    </div>
                    <div class="mb-3">
                        <label for="userLastName">Фамилия</label>
                        <input type="text" class="form-control" id="userLastName" name="LastName" value="@Model.LastName">
                    </div>
                    <div class="mb-3">
                        <label for="userPatronymic">Отчество</label>
                        <input type="text" class="form-control" id="userPatronymic" name="Patronymic" value="@Model.Patronymic">
                    </div>
                    <div class="mb-3">
                        <label for="userDateBirthday">Дата рождения</label>
                        <input type="date" class="form-control" id="userDateBirthday" name="DateBirthday" value="@Model.DateBirthday?.ToString("yyyy-MM-dd")">
                    </div>
                    <!-- Подвал модального окна -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
