@model IEnumerable<UniCabinet.Web.ViewModel.DisiciplineDetail.DisciplineDetailViewModel>

<button type="button" class="btn btn-primary" data-url="@Url.Action("DisciplineDetailAddModal", "DisciplineDetail")">
    Добавить дисциплину
</button>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Группа</th>
            <th>Курс</th>
            <th>Семестр</th>
            <th>Кол-Во Лекций</th>
            <th>Мин. посещений Лекций</th>
            <th>Мин. посещений практических</th>
            <th>Мин. на автомат</th>
            <th>Кол-Во экзаменов</th>
            <th>Мин. балл прохождения</th>
            <th>Кол-во практических</th>
            <th>Кол-во зачетов</th>
            <th>Преподаватель</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DisciplineName</td>
                <td>@item.GroupName</td>
                <td>@item.CourseNumber</td>
                <td>@item.SemesterNumber</td>
                <td>@item.LectureCount</td>
                <td>@item.MinLecturesRequired</td>
                <td>@item.MinPracticalsRequired</td>
                <td>@item.AutoExamThreshold</td>
                <td>@item.ExamCount</td>
                <td>@item.PassCount</td>
                <td>@item.PracticalCount</td>
                <td>@item.SubExamCount</td>
                <td>@item.TeacherFirstName @item.TeacherLastName @item.TeacherPatronymic</td>
                <td>
                    <a href="@Url.Action("LecturesList", "Lecture", new { id = item.Id })" class="btn btn-primary">Лекции</a>
                </td>
            </tr>
        }
    </tbody>
</table>